@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');

#root {
  overflow: hidden;
  height: 300px;
  width: 550px;
  background-color: white;
  
  padding: 0;
  margin: 0;
  border: 0;
}

.card {
  width: 100vw;
  height: 100vh;
  
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  
  box-sizing: border-box;
  flex-grow: 1;
  
  position: relative;
  z-index: 0;
}

.card::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 3px;
  background: linear-gradient(to bottom, #64C9F5, #5D8EB7);
  mask: 
  linear-gradient(#000 0 0) content-box, 
  linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@-moz-document url-prefix() {
  .card::before {
    border-radius: 8px;
  }
}

.prompt, .output {
  flex: 1 1 46%;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  min-height: 120px;
  max-height: 120px;
}

.prompt {
  background-color: red;
  position: relative;
}

.FormField {
  background-color: white;
  flex-grow: 1;
}

.Input {
  resize: none;
  background-color: #ffffff;
  color: #414141;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  flex-grow: 1;

  padding: 6px;

  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;

  border-radius: 6px;
  border: 1px solid #c7c7c7;
  outline: none;

  z-index: 1;
}

.Input:focus {
  outline: none;
}

.Button {
  position: absolute;
  z-index: 2;
  right: 8px;
  bottom: 8px;
  
  width: 35px; 
  aspect-ratio: 1 / 1; 

  font-size: 16px;

  background-color: white;
  color:  black;

  box-sizing: border-box;

  border-radius: 50%;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid lightgray;
  

}

.Button:hover {
  background-color: lightgrey;
  border: 1px solid lightgray;
  transition: none;
}

.Button:active {
  transition: none;
  background-color: black;
  color:  white;
  border: 1px solid black;
}

.output {
  font-size: 12px;
  background-color: lightgray;
  padding: 10px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  
  overflow-y: auto;  
  white-space: pre-wrap;
  flex-direction: column;
}

.titleBar {
  height: 15%;
  width: 100%;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-items: center;
  
  padding: 0;
  margin: 0;
  border: 0;
  
  padding-left: 10px;
  padding-right: 10px;
}

.lab {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  font-family: "Lancelot", serif !important;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  color: #414141;
  position: absolute;
  left: 15px;
  bottom: 5px;
}

.but {
  border: none;
  font-size: 14px;
  margin-right: 5px;
  background-color: white;
  border: none;
  border-radius: 2px;
}

.but:hover {
  background-color: lightgray;
  cursor: pointer;
}

.but:active {
  background-color: darkgrey;
  cursor: pointer;
}
